h1 {
	font-size: 35px;
	color: blue;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

body{
	background-color: #00103C;
	background-position: top center;
	background-size: cover;
}

h2{
	font-size: 25px;
	color: #ffffff;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}
h3{
	object-position: right;
	color: #ffffff;
	font-size: 15px;
	font-family: 'Titillium Web', sans-serif;
}